table tr  {
  border: solid black 2px;
  border-collapse: collapse;
  width: 65%;
}
th {
  text-align: center;
  margin-left: 25%;
  font-size: 35px;
  font-family: Helvetica;
  border: solid steelblue 5px;

}
tr td {
  padding: 15px;
  text-align: center;
}

td {
border: solid yellowgreen 5px;

}
td:nth-child(even)
{
  background-color: slategrey;
}

td:nth-child(odd)
{
  background-color: lightblue;
}
